.tag-item {
	grid-row-gap: 10px;
	border-bottom: 1px solid rgb(204, 204, 204);
	cursor: pointer;
	transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;

	&:hover {
		color: rgb(231, 101, 20);

		& i {
			color: rgb(231, 101, 20);
		}

		& .tag-item__tag {
			&:not(:first-child)::before {
				background: rgb(231, 101, 20);
			}
		}
	}

	&__list {
		overflow: hidden;
		height: 1.55em;
	}

	&__tag {
		&:not(:first-child)::before {
			content: "";
			width: 24px;
			height: 24px;
			margin: auto;
			mask: url('@/assets/spacer.svg') no-repeat 50% 50%;
			background: rgba(0, 0, 0, 0.87);
			transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
		}

		&--width {
			flex: 1 1 auto;

			&:first-child {
				flex: 0 auto;
			}
		}
	}

}